<h1 class="h3 mb-3">
  <strong><%= @project.name %></strong>
</h1>

<% if @project.description.present? || policy(:project).change_status? %>
<div class="row">
  <div class="col-md-12 col-xl-12">
    <div class="card">
      <% if policy(:project).change_status?  %>
      <div class="card-header">
        <%= link_to 'Set created CREATED', change_status_project_path(@project, status: STATUS_CREATED), class: 'btn btn-primary', data: { "turbo-method": :post }%>
        <%= link_to 'Set APPROVED status', change_status_project_path(@project, status: STATUS_APPROVED), class: 'btn btn-success', data: { "turbo-method": :post }%>
        <%= link_to 'Set IN_PROGRESS status', change_status_project_path(@project, status: STATUS_IN_PROGRESS), class: 'btn btn-warning', data: { "turbo-method": :post }%>
        <%= link_to 'Set COMPLETED status', change_status_project_path(@project, status: STATUS_COMPLETED), class: 'btn btn-danger', data: { "turbo-method": :post }%>
      </div>
      <% end %>
      <% if @project.description.present? %>
      <div class="card-body h-100">
        <%= @project.description %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%  end%>
<div class="row">
  <div class="col-md-12 col-xl-12">
    <div class="card flex-fill">
      <div class="card-body">
        <%= render partial: 'comment_form', locals: { project: @project, comment: @project.comments.new } %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Activities</h5>
      </div>
      <div class="card-body h-100">
        <% @project.activities.each do |activity| %>
          <% if lookup_context.exists?(activity.activitiable_type.underscore, ['projects/activities'], true) %>
            <%= render partial: "projects/activities/#{activity.activitiable_type.underscore}", locals: { activitiable: activity.activitiable, project: @project } %>
          <% else %>
            Unknown activity
          <% end %>
          <hr />
        <% end %>
      </div>
    </div>
  </div>
</div>