<!DOCTYPE html>
<html>
  <head>
    <title>HomeyTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
          <%= link_to root_path, class:"sidebar-brand" do %>
            <span class="align-middle">Homey test</span>
          <% end %>
          <ul class="sidebar-nav">
            <% allowed_modules.each do |path| %>
            <li class="sidebar-item active">
              <%= link_to path, class: 'sidebar-link' do %>
                    <i class="align-middle" data-feather="sliders"></i>
                    <span class="align-middle"><%= path %></span>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
          <a class="sidebar-toggle js-sidebar-toggle">
            <i class="hamburger align-self-center"></i>
          </a>
          <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">

              <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                  <i class="align-middle" data-feather="settings"></i>
                </a>

                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                  <span><%= current_user.display_name%></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <%= link_to profile_path, class: "dropdown-item" do %>
                    <i class="align-middle me-1" data-feather="user"></i> Profile
                  <% end %>
                  <%= link_to 'Log out', destroy_user_session_path, class: "dropdown-item", data: { "turbo-method": :delete } %>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <main class="content">
          <div class="container-fluid p-0">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
